<!DOCTYPE html>
<html lang="hr-HR">
<head>
  <meta charset="UTF-8">
  <title>Registracija nove organizacije</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .email-container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .email-header {
      text-align: center;
      background-color: #FF5151FF;
      color: #ffffff;
      padding: 20px;
      border-radius: 8px 8px 0 0;
    }
    .email-body {
      padding: 20px;
      color: #333333;
    }
    .email-body h1 {
      color: #FF5151FF;
    }
    .email-footer {
      text-align: center;
      font-size: 12px;
      color: #999999;
      padding: 10px;
    }
    .cta-button {
      background-color: #FF5151FF;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      text-decoration: none;
      font-size: 16px;
    }
  </style>
</head>
<body>
<div class="email-container">
  <div class="email-header">
    <h1>Nova registracija organizacije</h1>
  </div>
  <div class="email-body">
    <p>Nova organizacija {{userEmail}} se je registrirala na našu aplikaciju. Trebali bi popratiti uplate narednih dana
      kako bi im aktivirali korisnički račun!</p>
    <p>Za aktivaciju klikni na link:</p>
    <p>
      <a href="{{link}}" class="cta-button">Aktiviraj organizaciju</a>
    </p>
    <p>Lijepi pozdrav,<br>{{appName}}</p>
  </div>
  <div class="email-footer">
    <p>&copy; {{year}} {{appName}}. All rights reserved.</p>
  </div>
</div>
</body>
</html>
